@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500;600&family=Titillium+Web&display=swap');

.title
{
    display: flex;
    justify-content: space-between;
    color: #3D3D3D;
}

 .title h1
{    
    margin: 0px;
    font-family: 'poppins';
    font-weight: 700;
    font-size: 60px;
    margin-left: 30px;
}

.title a
{
    text-decoration: none;
    align-self: center;
    background-color: #3D3D3D;
    color: white;
    border-radius: 35px;
    padding: 10px 20px 10px 20px;
    font-family: 'poppins';

}